.about_form {
    margin-top: 100PX;
}
.choose_us_title_line_about_form {
    margin: -40PX 0 0 0;
    
}
.choose_us_title_wrapper_about_form {
    display: flex;
    flex-direction: column;
}
.choose_us_title_wrapper_about_form p {
    width: 70%;
}
.choose_us_title_wrapper_about_form img {
    margin: 0 auto;
    max-width: 830PX;
    max-height: 530PX;
    width: 100%;
   
}
.choose_us_about_form_img {
    align-self: center;
    margin-top: 20PX;
}
.choose_us_content_wrapper {
    display: flex;
    flex-direction: column;
}
@media ( min-width: 320px) and (max-width: 1223px) {
    .about_form {
        margin-top: 65PX;
    }
    .choose_us_title_line_about_form {
        margin: -30PX 0 0 0;
    }
    .choose_us_content_wrapper {
        flex-direction: column-reverse;
        padding-top: 20PX;
    }
    .choose_us_content_wrapper p {
        width: 100%;
    }
}
