.catalog_wripper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100PX;
    margin-bottom: 150PX;
}
.filter {
    width: 35%;
    min-width: 340PX;
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    border-radius: 32PX;
}
.catalog_items_wripper {
    width: 65%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: left;
}

@mixin range-slider($width, $height, $input-top, $input-bg-color, $input-thumb-color, $float:none, $input-height:20px, $input-border-radius:14px) {
    position: relative;
    width: $width;
    height: $height;
    float: $float;
    text-align: center;
      
    input[type="range"] {
      pointer-events: none;
      position: absolute;
      -webkit-appearance: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);    
      border: none;
      border-radius: $input-border-radius;
      background: $input-bg-color;
      box-shadow: inset 0 1px 0 0 darken($input-bg-color,15%), inset 0 -1px 0 0 darken($input-bg-color,10%);
      -webkit-box-shadow: inset 0 1px 0 0 darken($input-bg-color,15%), inset 0 -1px 0 0 darken($input-bg-color,10%);
      overflow: hidden;
      left: 0;
      top: $input-top;
      width: $width;
      outline: none;
      height: $input-height;
      margin: 0;
      padding: 0;
    }  
    
    input[type="range"]::-webkit-slider-thumb {
      pointer-events: all;
      position: relative;
      z-index: 1;
      outline: 0;    
      -webkit-appearance: none;
      width: $input-height;
      height: $input-height;
      border: none;
      border-radius: $input-border-radius;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, lighten($input-thumb-color,60%)), color-stop(100%, $input-thumb-color)); /* android <= 2.2 */
      background-image: -webkit-linear-gradient(top , lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* older mobile safari and android > 2.2 */;
      background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }
    
    input[type="range"]::-moz-range-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      -moz-appearance: none;
      width: $input-height;
      height: $input-height;
      border: none;
      border-radius: $input-border-radius;
      background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }
  
    input[type="range"]::-ms-thumb {
      pointer-events: all;
      position: relative;
      z-index: 10;
      -ms-appearance: none;
      width: $input-height;
      height: $input-height;
      border-radius: $input-border-radius;
      border: 0;
      background-image: linear-gradient(to bottom, lighten($input-thumb-color,60%) 0, $input-thumb-color 100%); /* W3C */
    }
    
    input[type=range]::-moz-range-track {
      position: relative;
      z-index: -1;
      background-color: rgba(0, 0, 0, 1);
      border: 0;
    }
    
    input[type=range]:last-of-type::-moz-range-track {
      -moz-appearance: none;
      background: none transparent;
      border: 0;
    } 
    
    input[type=range]::-moz-focus-outer {
      border: 0;
    }
  }
  
  section.range-slider {
    @include range-slider(90%, 100px, 50px, #F1EFEF, #413F41, left);
  }
  .Values_wripper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10PX;
  }
  .popular_item_card_catalog {
    width: 30%;
    margin-bottom: 10PX;
    margin-right: 3%;
  }
  .filter h2 {
    background: #EDEDED;
    color: #B7B7B7;
    width: 100%;
    height: 90PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 32PX 32PX 0 0;
    padding-left: 25PX;
    font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0px;
padding-bottom: 0;
margin-bottom: 0;
  }
  .filter h3 {
    padding: 0PX 0 20PX 20PX;
  }
  .filter input {
    margin-left: 25PX;
  }
  .filter label {
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 20PX;
  }
  .filter_cat {
    margin-bottom: 14PX;
  }
  .range-slider {
    margin-left: 25PX;
  }
  .submit_btn {
    width: 100%;
    max-width: 300PX;
    height: 50PX;
    display: flex;
    justify-content: center;
align-items: center;
border-radius: 30PX;
background: #2BB5F8;
text-decoration: none;
color: #FFF;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 50PX auto 0 auto;
  }
  .esc_btn {
    width: 100%;
    max-width: 300PX;
    height: 50PX;
    display: flex;
    justify-content: center;
align-items: center;
border-radius: 30PX;
text-decoration: none;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: #fff;
color: #000;
border: 2PX solid #000;
margin: 20PX auto 50PX auto;
  }
  @media ( min-width: 1200px) and (max-width: 1400px) {
    .filter {
      min-width: 280PX;
    }
    .submit_btn {
      max-width: 260PX;
    }
    .esc_btn {
      max-width: 260PX;
    }
  }
  @media ( min-width: 1024px) and (max-width: 1200px) {
    .filter {
      min-width: 250PX;
    }
    .submit_btn {
      max-width: 240PX;
    }
    .esc_btn {
      max-width: 240PX;
    }
  }
  @media ( min-width: 600px) and (max-width: 1024px) {
    .popular_item_card {
      width: 30%;
    }
  }
  @media ( min-width: 320px) and (max-width: 599px) {
    .popular_item_card {
      width: 49%;
    }
  }
  @media ( min-width: 320px) and (max-width: 1024px) {
    .filter {
      display: none;
    }
    .catalog_items_wripper {
      width: 100%;
      justify-content: space-between;
    }
   
    .filter_mob {
      display: block;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 40PX;
    }
    .filter_mob img {
      width: 20PX;
      height: 18PX;
      margin-right: 15PX;
    }
    .catalog_wripper {
      margin-top: 30PX;
  }
  .popup-link{
    display:flex;
    flex-wrap:wrap;
  }
  
  .popup-link a{
      text-decoration: none;
      color: #595F6A;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  
  .popup-container {
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      transform: scale(1.1);
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(21, 17, 17, 0.61);
      display: flex;
      align-items: center;
      z-index: 999;
      overflow-y: scroll;
  }
  .popup-content {
      margin: auto;
  }
 .filter_aside_mob_wripper {
  padding: 10PX;
  position: relative;
 }
  .popup-content a.close{
      color: #000;
      font-size: 42px;
      background: none;
      padding: 0;
      text-decoration:none;
      position: absolute;
      right: 30PX;
  }
  
  .popup-content a.close:hover{
    color:#333;
  }
  
  .popup-content span:hover,
  .popup-content span:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }
  
  .popup-container:target{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  
  .popup-container h3{
    margin:10px;
  }
  .filter_aside_mob {
    width: 100%;
    min-width: 350PX;
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    border-radius: 20PX;
    margin-top: 90PX;
    
  }
  .filter_aside_mob h2 {
    width: 100%;
    height: 90PX;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 32PX 32PX 0 0;
    padding-left: 25PX;
    font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 0px;
padding-bottom: 0;
margin-bottom: 0;
  }
  .filter_aside_mob h3 {
    padding: 0PX 0 20PX 20PX;
  }
  .filter_aside_mob input {
    margin-left: 30PX;
  }
  .filter_aside_mob label {
    font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 20PX;
  }
  .popular_item_card_catalog {
    margin-right: 1%;
  }
}
  .filter_mob {
    display: none;
  }