.header_wrapper {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
min-height: 80PX;
align-items: center;
position: relative;
z-index: 800;
width: 100%;
    max-width: 1440PX;
    margin: 0 auto;
}
.logo_img {
  background: url('/img/logo.svg') no-repeat;
  width: 150PX;
  height: 55PX;
}
/* Nav */
.nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav a {
    font-size: 18PX;
    font-weight: 400;
    color:#fff;
  }
  .nav-item {
    position: relative;
    margin-right: 60PX;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
  .nav-item:hover > .subnav {
    display: block;
  }
  
  .nav-link {
    display: block;
    text-decoration: none;
  }
  .nav-link:hover {
    color: #2BB5F8;
  }
  
    /* Subnav */
  .subnav {
    display: none;
    min-width: 120px;
    margin: 0;
    padding: 0;
    list-style: none;
    
    font-size: 14px;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }
  .subnav_black {
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 10px;
  }
  .dropdown_arrow::after {
    content: url('/img/arrowdown.svg');
    width: 16PX;
    height: 16PX;
    margin-left: 10PX;
  }
  .dropdown_arrow_black::after {
    content: url('/img/arrowdownblack.svg');
    width: 16PX;
    height: 16PX;
    margin-left: 10PX;
  }
  .subnav-item a{
    width: auto;
    margin: 20px 0;
  }
  .subnav-link {
    display: block;
    text-decoration: none;
  }
  .subnav-link:hover {
    color: #2BB5F8;
  }
  .white_nav {
    position: relative;
    max-width: 1440PX;
    margin: 0 auto;
    z-index: 999;
    padding: 0 160px;
 }
 .sticky {
  position: fixed;
  background-color: #fff;
    width: 100%;
    box-shadow: 2px 1px 2px #f0f0f0;
    left: 0;
    right: 0;
    z-index: 999;
 }
 .for_header_nav {
  width: 100%;
  background: #fff;
  height: 90PX;
  box-shadow: 2px 1px 2px #f0f0f0;
 }
 .sticky a {
  color: #000;
 }
 .new_logo {
    background: url('/img/logo2.svg') no-repeat;
  
 }
 .mobile_header_wrapper {
  display: none;
 }
 @media ( min-width: 950px) and (max-width: 1024px) {
  .sticky_mob {
    padding: 0 160PX;
  }
 }
 @media ( min-width: 320px) and (max-width: 1024px) {
  .header_wrapper {
    display: none;
  }
  .mobile_header_logo {
    z-index: 800;
  }
  .mobile_header_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90PX;
  }
  /*mobile-menu*/
  #menuToggle
  {
    display: block;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 5px;
  }
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 100; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /*
   * hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 25px;
    height: 1px;
    margin-bottom: 7px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    
    z-index: 55;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-1px, 3px);
    background: #000;
  }
  
  /*
   * hide the middle one
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(-2px, -2px);
  }
  
  #menu
  {
    position: absolute;
    z-index: 999;
    width: 58%;
    height: 70vh;
    margin: -100px 0 0 -50px;
    padding-top: 125px;
    text-align:left;
    right: 0;
    background: #fff;
    z-index: 50;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  border-radius: 0px 0px 0px 20px;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    box-shadow: 2px 1px 2px 1px #f0f0f0;
  }
  #menu a {
    text-decoration: none;
    color: #000;
    color: #000;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  #menu li
  {
    padding: 30px 0;
    font-size: 18PX;
    line-height: 24PX;
  }
  #menu li:active, li:hover {
      list-style-type: disc;
      color: #003D9E;
  }
  
  
  /*
   * slide it in
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  .sticky_mob {
    position: fixed;
    
    background-color: #fff;
    width: 100%;
    left: 0;
    right: 0;
    box-shadow: 2px 1px 2px #f0f0f0;
    z-index: 999;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   margin: 0 auto;
   padding: 0 20PX;
  }
 
  .logo_img {
    z-index: 800;
    position: relative;
  }
  .menuToggleSticky span
  {
    background: #000 !important;
  }
 }