p {
    font-size: 18PX;
    font-weight: 400;
}
@media ( min-width: 320px) and (max-width: 1223px) {
    h1 {
        font-size: 48px !important;
    }
    h2 {
        font-size: 32px !important;
    }
    h3 {
        font-size: 32px !important;
    }
    p {
        font-size: 16PX;
    }
}