.why_are_we {
    margin-top: 120PX;
    
}

.why_are_we_title_wrapper h2 {
    display: flex;
    flex-direction: row;
    font-size: 48PX;
    font-weight: 900;
    text-transform: uppercase;
    align-items: flex-end;
}
.why_are_we_title_line {
    background: url('/img/index/line2.png') center bottom no-repeat;
    width: 105PX;
    height: 40PX;
    margin: 0px 0 0 -105PX;
}
.why_are_we_card_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 60PX;
}
.why_are_we_card {
    width: 24%;
    max-width: 255px;
max-height: 245px;
border-radius: 32px;
background: #F8F8F8;
padding: 15PX 0 0 30PX;
}
.why_are_we_card p {
    padding: 0 10px;
}
.why_are_we_card_head {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.why_are_we_card_head img {
width: 64PX;
height: 64PX;

}
.why_are_we_card_head h4 {
    padding-left: 16PX;
    font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
@media (max-width: 1300px) { 
    .why_are_we_card {
     padding: 20PX 0;
     max-height: 100%;
    }
    .why_are_we_card h4 {
        font-size: 18PX;
        padding-left: 0;
    }
    .why_are_we_card_head {
        flex-direction: column;
        justify-content: center;
    }
    .why_are_we_card p {
        font-size: 16PX;
        text-align: center;
    }
 }
 @media ( min-width: 320px) and (max-width: 1223px) {
    .why_are_we_card_wrapper {
        flex-direction: column;
    }
    .why_are_we_title_wrapper h2 {
        text-transform: none;
        width: 70%;
        
    }
    .why_are_we {
        margin-top: 50PX;
    }
    .why_are_we_title_line  {
        width: 60PX;
        height: 10PX;
    }
    .why_are_we_card_wrapper {
        justify-content: center;
        align-items: center;
        margin-top: 50PX;
    }
    .why_are_we_card {
        width: 100%;
        margin-top: 10PX;
        min-width: 325PX;
        padding: 0;
    }
    .why_are_we_card p {
        padding: 0 50PX;
    }
    .why_are_we_card_head {
        flex-direction: row;
        justify-content: flex-start;
        padding: 15PX;
    }
    .why_are_we_card_head img {
        width: 48PX;
        height: 48PX;
        margin-right: 10PX;
    }
 }