<footer class="footer">
    <div class="container">
        <div class="footer_wrapper">
        <div class="footer_left">
            <div class="footer_nav">
                <ul>
                    <li><a href="">Каталог</a></li>
                    <li><a href="">Услуги</a></li>
                    <li><a href="">О компании</a></li>
                    <li><a href="">Новости</a></li>
                </ul>
            </div>
            <p><a href="mailto:info@vladimir-glass.ru">info@vladimir-glass.ru</a></p>
            <p><a href="tel:+74922525959">+7 (4922) 52-59-59</a></p>
            <p><a href="tel:+78005506733">8 (800) 550-67-33</a></p>
            <p><a href="tel:+79157636101">+7 (915) 763-61-01</a></p>
            <p>Адрес: 60017, Владимирская обл., г. Владимир, ул. Горького, д. 27, офис 25</p>
        </div>
        <div class="footer_right">
            <div class="footer_map" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/192/vladimir/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Владимир</a><a href="https://yandex.ru/maps/192/vladimir/house/ulitsa_gorkogo_27/YEkYcgdgT0AFQFtsfX1ydn9iYQ==/?ll=40.400652%2C56.137315&utm_medium=mapframe&utm_source=maps&z=17" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Горького, 27 — Яндекс Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=40.400652%2C56.137315&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgg1Nzc4MTczNxI_0KDQvtGB0YHQuNGPLCDQktC70LDQtNC40LzQuNGALCDRg9C70LjRhtCwINCT0L7RgNGM0LrQvtCz0L4sIDI3IgoNRZohQhWcjGBC&z=17" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
    </div>
    </div>
</footer>
<!--stycky header-->
<script>
    $(window).scroll(function(){
              if($(this).scrollTop() > 100){
                  $('.header_wrapper').addClass('sticky')&$('.logo_img').addClass('new_logo')&$('.dropdown_arrow').addClass('dropdown_arrow_black')&$('.subnav').addClass('subnav_black')
              } else{
                  $('.header_wrapper').removeClass('sticky')&$('.logo_img').removeClass('new_logo')&$('.subnav').removeClass('subnav_black')&$('.dropdown_arrow').removeClass('dropdown_arrow_black')
              }
          });
  </script> 