<footer class="footer">
    <div class="container">
        <p>{{ vars.address }}</p>
    </div>
</footer>
<!--stycky header-->
<script>
    $(window).scroll(function(){
              if($(this).scrollTop() > 100){
                  $('.header_wrapper').addClass('sticky')&$('.logo_img').addClass('new_logo')&$('.dropdown_arrow').addClass('dropdown_arrow_black')&$('.subnav').addClass('subnav_black')
              } else{
                  $('.header_wrapper').removeClass('sticky')&$('.logo_img').removeClass('new_logo')&$('.subnav').removeClass('subnav_black')&$('.dropdown_arrow').removeClass('dropdown_arrow_black')
              }
          });
  </script> 