<header class="header">
    <div class="container">
        <div class="header_wrapper">
            <a href="/" class="logo">
                <div class="logo_img"></div>
            </a>
            <div class="nav_header_wrapper">
                <div class="nav_header">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="#">Каталог</a></li>
                        <li class="nav-item"><a class="nav-link dropdown_arrow" href="#">Услуги</a>
                            <ul class="subnav">
                                <li class="subnav-item"><a class="subnav-link" href="#">Ссылка1</a></li>
                                <li class="subnav-item"><a class="subnav-link" href="#">Ссылка1</a></li>
                                <li class="subnav-item"><a class="subnav-link" href="#">Ссылка1</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link dropdown_arrow" href="#">О компании</a>
                            <ul class="subnav">
                                <li class="subnav-item"><a class="subnav-link" href="#">Ссылка1</a></li>
                                <li class="subnav-item"><a class="subnav-link" href="#">Ссылка1</a></li>
                                <li class="subnav-item"><a class="subnav-link" href="#">Ссылка1</a></li>
                            </ul></li>
                        <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mobile_header_wrapper">
            <a href="/" class="logo">
                <div class="logo_img"></div>
            </a>
            <div class="mobile_header_wrapper_inner">
                <nav role="navigation">
                    <div id="menuToggle">
                      <input type="checkbox" />
                      <span></span>
                      <span></span>
                      <span></span>
                      <ul id="menu">
                        <a href="#"><li>Каталог</li></a>
                        <a href="#"><li>Услуги</li></a>
                        <a href="#"><li>О компании</li></a>
                        <a href="#"><li>Контакты</li></a>
                      </br>
                    </br>
                    </ul>
                    </div>
                  </nav>
            </div>
        </div>

    </div>
</header>